{% extends 'base.html' %}
{% block content %}
<div class="container">
    <img src="{{ profile.profile_picture.url }}" class="rounded-circle" width="80" height="60">
    <h2>email:{{ user.email}}</h2>
    <a class ='nav-link' href="{% url 'post-create' %}">Create New Post</a>
    <div class="col-md-8 container-fluid">
        <h1>{{ user.username }}'s Post</h1> 
        <div class="card">
            <ul class = 'list-group'>
                {% for post in posts %}
                    <li class="list-group-item">
                        <h2><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                        {% if post.image %}
                            <img src="{{ post.image.url }}" class="img-fluid"  width="100" height="100">
                        {% endif %}
                        <p>{{ post.text| truncatewords:50 }}</p>
                        <small>By {{ post.author }} on {{ post.created_at }}</small>
                    </li>
                {% empty%}
                    <li> No posts found.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
